/* header{
    color: #fffce1 !important;
    backgroundColor: #1b2528  !important;
    borderBottom: 1px solid #fffce1 !important;
    zIndex: 1000;
} */
.cur {
    cursor: pointer !important;
}
.text-y{
    color: #fbbf24 !important;
}
.text-white{
    color: #fff !important;
}